<div id="vuejs_container" class="screen ContactsLayout" style="display: none;" data-bind_="css: 'storage_' + selectedStorage()">
	<div class="panels" data-bind_="splitterFlex: {storagePrefix: 'aurora_contacts_', sizes: [20, 20, 60]}">
		<div class="panel left_panel groups_panel" data-splitter="groups">
			<div class="panel_content">
				<!-- ko_ template: { name: '%ModuleName%_Toolbar_GroupsView'} --><!-- ko_ -->
				<div class="middle_bar">
					<!-- ko_ template: { name: '%ModuleName%_GroupsView', data: $data} --><!-- ko_ -->
				</div>
			</div>
		</div>
		<div class="panel center_panel contacts_panel">
			<div class="panel_content">
				<!-- ko_ template: { name: '%ModuleName%_Toolbar_ContactsView'} --><!-- ko_ -->
				<div class="middle_bar" data-bind_="template: {name: '%ModuleName%_ContactsView'}"></div>
			</div>
		</div>
		<div class="panel item_viewer contact_viewer" data-bind_="css: 'contact_' + (selectedContact() && selectedContact().storage())">
			<div class="panel_content">
				<div class="middle_bar contact" data-bind_="visible: selectedContact() && !selectedContact().edited(), with: selectedContact">
					<!-- ko_ template: { name: '%ModuleName%_ContactView', data: $data} --><!-- ko_ -->
				</div>

				<div class="middle_bar edit_contact" data-bind_="visible: selectedContact() && selectedContact().edited(), with: selectedContact" id="selenium_contacts_edit_form">
					<!-- ko_ template: { name: '%ModuleName%_EditContactView', data: $data } --><!-- ko_ -->
				</div>

				<div class="middle_bar group" data-bind_="visible: selectedGroup() && !selectedGroup().edited(), with: selectedGroup">
					<!-- ko_ template: { name: '%ModuleName%_GroupView', data: $data } --><!-- ko_ -->
				</div>

				<div class="middle_bar edit_group" data-bind_="visible: selectedGroup() && selectedGroup().edited(), with: selectedGroup" id="selenium_contacts_edit_group_form">
					<!-- ko_ template: { name: '%ModuleName%_EditGroupView', data: $data } --><!-- ko_ -->
				</div>

				<div class="middle_bar import" data-bind_="visible: oImportView.visibility()">
					<!-- ko_ template: { name: oImportView.ViewTemplate, data: oImportView } --><!-- ko_ -->
				</div>
			</div>
		</div>
	</div>
</div>
